* {
    scrollbar-width: none;
}

body {
    background-color: rgb(144, 178, 189);
    margin: 0;
    border: 0;
    font-family: "Bona Nova SC", serif;
}

.userPinCondition {
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    cursor: pointer;
    border: none;
    color: white;
    background-color: rgb(60, 134, 60);
    font-family: "Bona Nova SC", serif;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
}

main {
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow: 0px 0px 20px gray;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
}

.firstCondition {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.secondCondition {
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
}

.btn01, .btn02 {
    box-shadow: 0px 0px 10px rgb(45, 161, 64);
}
.btn01{
    margin-top: 15px;
}
.btn02{
    margin-top: 20px;
}
.btn01:hover, .btn02:hover {
    box-shadow: 0px 0px 10px rgb(0, 255, 42);
}
footer{
    text-align: center;
    font-family: "Bona Nova SC", serif;
}